parameters:
    level: 8

    paths:
        - 'src/'

    ignoreErrors:
        - '/return type has no value type specified in iterable type array/'
        - '/has parameter \$\w+ with no value type specified in iterable type array/'
